h1 {
  text-align: center;
  padding-top: 15px;
  margin: 10px;
}

body {
  background-color: #9ACD32;
}


 /*Images Editing for Pictures Link: */

.containerPictures img {
  display: inline-block;
  max-height: 275px;
  max-width: 17.5%;
  margin: 7.5px;
  padding: 5px;
  -moz-border-radius: 25% 25%;
  -webkit-border-radius: 25% 25%;
  border-radius: 25% 25%;
}

.caption {
  display: inline;
  text-align: center;
  max-height: 100%;
  max-width: 100%;
  padding: 45px;
  word-spacing: 110px;
}