<!DOCTYPE html>

<html>
  <head>
    <meta charset = "UTF-8">
    <title>Your Dog's Best Friend</title>
    <link rel = "stylesheet" href = "../stylesheet/mainCss.css">
  </head> 

  <body>

    <div id = "header">
      <h1>Your Dog's Best Friend</h1>
      <img src = "../pictures/pawprints.gif">
    </div>
    
    <div id = "referenceLinks">
    
      <div class = "referenceLinksLeft">
        <img class = "aboutUsPaw" src = "../pictures/pawPrints.png">
        <!-- <a class = "aboutUs" href = "aboutUs.html">About Us</a> -->
        <img class = "contactUsPaw" src = "../pictures/pawPrints.png">
        <!-- <a class = "contactUs" href = "contactUs.html">Contact Us</a> -->
      </div>

      <div class = "mainImage">
        <img src = "../pictures/centralPark.jpg">
      </div>

      <div class = "referenceLinksRight">
        <img class = "ratesPaw" src = "../pictures/pawPrints.png">
        <!-- <a class = "rates" href = "rates.html">Rates</a> -->
        <img class = "picturesPaw" src = "../pictures/pawPrints.png">
        <!-- <a class = "pictures" href="pictures.html">Pictures</a> -->
      </div>
    </div>

    

    <div id = "footer">
      <div class = "logoPictures">
        <img src="../pictures/facebookLogo.jpg">
        <img src="../pictures/twitterLogo.jpg">
        <img src="../pictures/instagramLogo.png">
      </div>
    </div>

  </body>