<html>
  <head>
    <meta charset = "UTF-8">
    <title>Your Dog's Best Friend: Pictures.</title>
    <link rel = "stylesheet" href = "../stylesheet/picturesCss.css">
  </head> 

  <body>
    <div id = "header">
      <h1>Pictures Link</h1>
    </div>

    <div class = "containerPictures">
      <h2>Meet our crew (dogs):</h2>
        <img src="../pictures/dogPictures01.jpg">
        <img src="../pictures/dogPictures02.jpg">
        <img src="../pictures/dogPictures03.jpg">
        <img src="../pictures/dogPictures04.jpeg">
        <img src="../pictures/dogPictures05.jpg">
    </diV>

    <div class = "caption">
      <h3 class = "caption"> Minnie </h3>
      <h3 class = "caption"> Moe </h3>
      <h3 class = "caption"> Curly </h3>
      <h3 class = "caption"> Larry </h3>
      <h3 class = "caption"> Hercules </h3>
    </div>

    <div class = "containerPictures">
      <h2>Meet our family (employees):</h2>
        <img src="../pictures/employeePictures01.jpg">
        <img src="../pictures/employeePictures02.jpg">
        <img src="../pictures/employeePictures03.jpg">
        <img src="../pictures/employeePictures04.jpg">
        <img src="../pictures/employeePictures05.jpg">
    </div>

    <div class = "caption">
      <h3 class = "caption"> Matt </h3>
      <h3 class = "caption"> Cesar </h3>
      <h3 class = "caption"> Brandon </h3>
      <h3 class = "caption"> Colin </h3>
      <h3 class = "caption"> Andrew </h3>
    </div>


    <div class = "containerPictures">
      <img src="../pictures/employeePictures06.jpg">
    </div>

    <div class = "caption">
      <h3 class = "caption"> Johnny </h3>
    </div>

  </body>

</html>