<html>
  <head>
    <meta charset = "UTF-8">
    <title>Your Dog's Best Friend: Rates.</title>
    <link rel = "stylesheet" href = "../stylesheet/mainCss.css">
  </head> 

  <body>
    <div id = "header">
      <h1>Rates Link</h1>
    </div>

    <div>
      Walking Services:
      <ul>
        <li>Private Walks:</li>
          <ul>
            <li>15 min walk: $15</li>
            <li>30 min walk: $20</li>
            <li>45 min walk: $25</li>
            <li>60 min walk: $30</li>
          </ul>
        <li>Semi-Private Walks:</li>
          <ul>
            <li>15 min walk: $10</li>
            <li>30 min walk: $15</li>
            <li>45 min walk: $20</li>
            <li>60 min walk: $25</li>
          </ul>
        <li>Additional Services:</li>
          <ul>
            <li>Each additional dog: $5</li>
            <li>Emergency walk (booking same day): $5</li>
            <li>Cancellation fee (same day): $10</li>
          </ul>
      </ul>
      Daycare Services:
      <ul>
        <li>Hourly rate: $$$</li>
        <li>Half-day rate: $$$</li>
        <li>Full-day rate: $$$</li>
      </ul>
      Boarding Services:
      <ul>
        <li>24 hours boarding: $$$</li>
      </ul>
      Training Services:
      <ul>
        <li>30 min session: $$$</li>
        <li>60 min session: $$$</li>
      </ul>
      Grooming Services:
      <ul>
        <li>Just bath: $$$</li>
        <li>Cut: $$$</li>
        <li>Nails: $$$</li>
      </ul>
    </div>
  </body>
  


</html>